# application-docker.yaml
server:
  address: 0.0.0.0
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/test_db
    username: test_user
    password: test_password
  jpa:
    hibernate:
      ddl-auto: none

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
