server:
  port: 8080
spring:
  application:
    name: dnd-charachter-editor
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5433/dnd_editor_db
    username: dnduser
    password: dnduser
    flyway:
      jdbc-properties:
        enabled: true
        locations:
          - db.migration

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, beans, trace
  endpoint:
    health:
      show-details: always
  server:
    port: 8080
  spring:
    security:
      enabled: false

springdoc:
  swagger-ui:
    enabled: true

security:
  jwt:
    secret_key: 4eeab38d706831be4b36612ead768ef8182d1dd6f0e14e5dc934652e297fb16a
    access_token_expiration: 15m # 15 min
    refresh_token_expiration: 30d # 30 days