apiVersion: apps/v1
kind: Deployment
metadata:
  name: dnd-editor
  labels:
    app: dnd-editor
# namespace: default   # при желании указать namespace
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: dnd-editor
  template:
    metadata:
      labels:
        app: dnd-editor
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      automountServiceAccountToken: false
      containers:
        - name: dnd-editor
          image: ghcr.io/hellgen/dnd-editor
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
              ephemeral-storage: "0Mi"
            limits:
              cpu: "250m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 5
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: dnd-db-secret
                  key: SPRING_DATASOURCE_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: dnd-db-secret
                  key: SPRING_DATASOURCE_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dnd-db-secret
                  key: SPRING_DATASOURCE_PASSWORD
